@import "tailwindcss";

:root {
  /* default dark theme*/
  --background: #18181b;
  --foreground: #d9c594;

  --heading: #fafafa;
  --info: #a1a1a1;
}

.light {
  /* Light Theme */
  --background: #f4f4f5;
  --foreground: #18181b;

  --heading: #09090b;
  --info: #818181;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-heading: var(--heading);
  --color-info: var(--info);

  --font-heading: var(--font-instrument);
  --font-body: var(--font-hanken);
}
