@import "tailwindcss";

:root {
  /* DARK THEME (default) */
  --background: #18181b;
  --foreground: #d9c594;

  --heading: #fafafa;
  --info: #a1a1a1;

  --grid-color: #2a2a2a;
  --tile-color: #2a2a2a;

  --border-color: rgba(53, 53, 53, 0.9);
  --button-bg: #2a2a2a;
  --button-hover: #373737;
}

.light {
  /* LIGHT THEME */
  --background: #f4f4f5;
  --foreground: #18181b;

  --heading: #09090b;
  --info: #6b7280;

  --grid-color: #d4d4d8;
  --tile-color: #ffffff;

  --border-color: rgba(0, 0, 0, 0.08);
  --button-bg: #e4e4e7;
  --button-hover: #d4d4d8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-heading: var(--heading);
  --color-info: var(--info);

  --font-heading: var(--font-instrument);
  --font-body: var(--font-hanken);

  --tile: var(--tile-color);
}

html {
  scroll-behavior: smooth;
}

.bg-tile {
  background-color: var(--tile-color);
}

.bg-dot-grid {
  background-image: radial-gradient(
    var(--grid-color) 1.25px,
    transparent 1.25px
  );
  background-size: 8px 8px;
}

.border-style {
  border-bottom: 1px solid var(--border-color);
}

.social-border-style {
  border: 1px solid var(--border-color);
}

.button-border {
  background-color: var(--button-bg);
  transition: background-color 0.3s ease;
}

.button-border:hover {
  background-color: var(--button-hover);
}

::selection {
  background: var(--heading);
  color: var(--background);
}

.dot-live {
  border-radius: 50%;
  height: 6px;
  width: 6px;
  animation: blink 2s infinite;
  background-color: oklch(72.3% 0.219 149.579);
  display: inline-block;
  margin-right: 8px;
  margin-top: 2px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
